<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="show.me.room.dao.InfoMapper">
	
	<!--일반인 가입 처리-->
	<insert id="insertMember" parameterType="Member">
		insert into member 
		(id
		, password
		, name
		, idnum
		, address
		, phone
		, email
		, hometype
		, space) 
		values 
		(#{id}
		, #{password}
		, #{name}
		, #{idnum}
		, #{address}
		, #{phone}
		, #{email}
		, #{hometype}
		, #{space})
	</insert>

	<!--기업 가입 처리-->
	<insert id="insertBusiness" parameterType="Business">
		insert into business 
		(bname
		, bpassword
		, bnum
		, baddress
		, homepage
		, bphone
		, bemail
		, special) 
		values 
		(#{bname}
		, #{bpassword}
		, #{bnum}
		, #{baddress}
		, #{homepage}
		, #{bphone}
		, #{bemail}
		, #{special})
	</insert>
	
	<!--일반인 로그인 위해서 검색-->
	<select id="getMember" parameterType="Member" resultType="Member">
		select * from member where id = #{id} and password = #{password}
	</select>
	
	<!--기업 로그인 위해서 검색-->
	<select id="getBusiness" parameterType="Business" resultType="Business">
		select * from business where bname = #{bname} and bpassword = #{bpassword}	
	</select>
	
</mapper>